/example/node_modules
/example/build
/example/public
/example/src/assets
/example/src/components
/example/src/models
/node_modules
/lib
/yarn-error.log
/yarn.lock
/example/yarn-error.log
/example/yarn.lock
/package-lock.json
/example/package-lock.json